# Video Game Sales Analysis

In [32]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth',400)

### Video Game Information | Cleaning

In [33]:
# Read video game data into a Pandas DataFrame

video_game_info_df = pd.read_excel('resources/video-game-info.xlsx')
video_game_info_df.head()

,UNIQUE ID,Name,Year_of_Release,Genre,Publisher,Developer,Rating
0,1,.hack//Infection Part 1,2002,Role-Playing,Atari,CyberConnect2,T
1,2,.hack//Mutation Part 2,2002,Role-Playing,Atari,CyberConnect2,T
2,3,.hack//Outbreak Part 3,2002,Role-Playing,Atari,CyberConnect2,T
3,4,[Prototype],2009,Action,Activision,Radical Entertainment,M
4,5,[Prototype],2009,Action,Activision,Radical Entertainment,M

In [34]:
video_game_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UNIQUE ID        6894 non-null   int64
 1   Name             6894 non-null   object
 2   Year_of_Release  6894 non-null   int64
 3   Genre            6894 non-null   object
 4   Publisher        6893 non-null   object
 5   Developer        6890 non-null   object
 6   Rating           6826 non-null   object
dtypes: int64(2), object(5)
memory usage: 377.1+ KB

In [35]:
# Renaming columns for SQL compatibility 
video_game_info_df = video_game_info_df.rename(columns={
    'UNIQUE ID': 'uniqueId',
    'Name': 'name',
    'Year_of_Release': 'yearReleased',
    'Genre': 'genre',
    'Publisher': 'publisher',
    'Developer': 'developer',
    'Rating': 'rating'
})
video_game_info_df.head()

,uniqueId,name,yearReleased,genre,publisher,developer,rating
0,1,.hack//Infection Part 1,2002,Role-Playing,Atari,CyberConnect2,T
1,2,.hack//Mutation Part 2,2002,Role-Playing,Atari,CyberConnect2,T
2,3,.hack//Outbreak Part 3,2002,Role-Playing,Atari,CyberConnect2,T
3,4,[Prototype],2009,Action,Activision,Radical Entertainment,M
4,5,[Prototype],2009,Action,Activision,Radical Entertainment,M

### Video Game Sales | Cleaning

In [36]:
# Read video game sales into a Pandas DataFrame

video_game_sales_df = pd.read_excel('resources/video-game-sales.xlsx')
video_game_sales_df.head()

,UNIQUE ID,Name,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27
1,2,.hack//Mutation Part 2,0.23,0.18,0.20,0.06,0.68
2,3,.hack//Outbreak Part 3,0.14,0.11,0.17,0.04,0.46
3,4,[Prototype],0.84,0.35,0.00,0.12,1.31
4,5,[Prototype],0.65,0.40,0.00,0.19,1.24

In [37]:
video_game_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UNIQUE ID     6894 non-null   int64
 1   Name          6894 non-null   object
 2   NA_Sales      6894 non-null   float64
 3   EU_Sales      6894 non-null   float64
 4   JP_Sales      6894 non-null   float64
 5   Other_Sales   6894 non-null   float64
 6   Global_Sales  6894 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 377.1+ KB

In [38]:
# Renaming columns for SQL compatibility 
video_game_sales_df = video_game_sales_df.rename(columns={
    'UNIQUE ID': 'uniqueId',
    'Name': 'name',
    'NA_Sales': 'naSales',
    'EU_Sales': 'euSales',
    'JP_Sales': 'jpSales',
    'Other_Sales': 'otherSales',
    'Global_Sales': 'globalSales'
})
video_game_sales_df.head()

,uniqueId,name,naSales,euSales,jpSales,otherSales,globalSales
0,1,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27
1,2,.hack//Mutation Part 2,0.23,0.18,0.20,0.06,0.68
2,3,.hack//Outbreak Part 3,0.14,0.11,0.17,0.04,0.46
3,4,[Prototype],0.84,0.35,0.00,0.12,1.31
4,5,[Prototype],0.65,0.40,0.00,0.19,1.24

### Video Game User & Critic Scores || Cleaning

In [39]:
# Read video game user and critic scores into a Pandas DataFrame

video_game_scores_df = pd.read_excel('resources/video-game-scores.xlsx')
video_game_scores_df.head()

,UNIQUE ID,Name,Critic_Score,Critic_Count,User_Score,User_Count
0,1,.hack//Infection Part 1,75,35,8.5,60
1,2,.hack//Mutation Part 2,76,24,8.9,81
2,3,.hack//Outbreak Part 3,70,23,8.7,19
3,4,[Prototype],78,83,7.8,356
4,5,[Prototype],79,53,7.7,308

In [40]:
video_game_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UNIQUE ID     6894 non-null   int64
 1   Name          6894 non-null   object
 2   Critic_Score  6894 non-null   int64
 3   Critic_Count  6894 non-null   int64
 4   User_Score    6894 non-null   float64
 5   User_Count    6894 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 323.3+ KB

In [41]:
# Renaming columns for SQL compatibility 
video_game_scores_df = video_game_scores_df.rename(columns={
    'UNIQUE ID': 'uniqueId',
    'Name': 'name',
    'Critic_Score': 'criticScore',
    'Critic_Count': 'criticCount',
    'User_Score': 'userScore',
    'User_Count': 'userCount'
})
video_game_scores_df.head()

,uniqueId,name,criticScore,criticCount,userScore,userCount
0,1,.hack//Infection Part 1,75,35,8.5,60
1,2,.hack//Mutation Part 2,76,24,8.9,81
2,3,.hack//Outbreak Part 3,70,23,8.7,19
3,4,[Prototype],78,83,7.8,356
4,5,[Prototype],79,53,7.7,308

### Merging (3) datasets

In [44]:
# Merging the Video Game Info, Video Game Sales, and Video Game Scores DataFrames on Unique ID
video_game_merged_df = video_game_info_df.merge(video_game_sales_df,on='uniqueId',how='left').merge(video_game_scores_df,on='uniqueId',how='left')
video_game_merged_df

,uniqueId,name_x,yearReleased,genre,publisher,developer,rating,name_y,naSales,euSales,jpSales,otherSales,globalSales,name,criticScore,criticCount,userScore,userCount
0,1,.hack//Infection Part 1,2002,Role-Playing,Atari,CyberConnect2,T,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27,.hack//Infection Part 1,75,35,8.5,60
1,2,.hack//Mutation Part 2,2002,Role-Playing,Atari,CyberConnect2,T,.hack//Mutation Part 2,0.23,0.18,0.20,0.06,0.68,.hack//Mutation Part 2,76,24,8.9,81
2,3,.hack//Outbreak Part 3,2002,Role-Playing,Atari,CyberConnect2,T,.hack//Outbreak Part 3,0.14,0.11,0.17,0.04,0.46,.hack//Outbreak Part 3,70,23,8.7,19
3,4,[Prototype],2009,Action,Activision,Radical Entertainment,M,[Prototype],0.84,0.35,0.00,0.12,1.31,[Prototype],78,83,7.8,356
4,5,[Prototype],2009,Action,Activision,Radical Entertainment,M,[Prototype],0.65,0.40,0.00,0.19,1.24,[Prototype],79,53,7.7,308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6889,6890,Zubo,2008,Misc,Electronic Arts,EA Bright Light,E10+,Zubo,0.08,0.02,0.00,0.01,0.11,Zubo,75,19,7.6,75
6890,6891,Zumba Fitness,2010,Sports,505 Games,"Pipeworks Software, Inc.",E,Zumba Fitness,1.74,0.45,0.00,0.18,2.37,Zumba Fitness,42,10,5.5,16
6891,6892,Zumba Fitness: World Party,2013,Misc,Majesco Entertainment,Zoe Mode,E,Zumba Fitness: World Party,0.17,0.05,0.00,0.02,0.24,Zumba Fitness: World Party,73,5,6.2,40
6892,6893,Zumba Fitness Core,2012,Misc,505 Games,Zoe Mode,E10+,Zumba Fitness Core,0.00,0.05,0.00,0.00,0.05,Zumba Fitness Core,77,6,6.7,6
6893,6894,Zumba Fitness Rush,2012,Sports,505 Games,"Majesco Games, Majesco",E10+,Zumba Fitness Rush,0.00,0.16,0.00,0.02,0.18,Zumba Fitness Rush,73,7,6.2,5

In [53]:
# Drop unwanted columns
video_game_cleaned = video_game_merged_df.drop(['name_x','name_y'],axis=1)
video_game_cleaned

,uniqueId,yearReleased,genre,publisher,developer,rating,naSales,euSales,jpSales,otherSales,globalSales,name,criticScore,criticCount,userScore,userCount
0,1,2002,Role-Playing,Atari,CyberConnect2,T,0.49,0.38,0.26,0.13,1.27,.hack//Infection Part 1,75,35,8.5,60
1,2,2002,Role-Playing,Atari,CyberConnect2,T,0.23,0.18,0.20,0.06,0.68,.hack//Mutation Part 2,76,24,8.9,81
2,3,2002,Role-Playing,Atari,CyberConnect2,T,0.14,0.11,0.17,0.04,0.46,.hack//Outbreak Part 3,70,23,8.7,19
3,4,2009,Action,Activision,Radical Entertainment,M,0.84,0.35,0.00,0.12,1.31,[Prototype],78,83,7.8,356
4,5,2009,Action,Activision,Radical Entertainment,M,0.65,0.40,0.00,0.19,1.24,[Prototype],79,53,7.7,308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6889,6890,2008,Misc,Electronic Arts,EA Bright Light,E10+,0.08,0.02,0.00,0.01,0.11,Zubo,75,19,7.6,75
6890,6891,2010,Sports,505 Games,"Pipeworks Software, Inc.",E,1.74,0.45,0.00,0.18,2.37,Zumba Fitness,42,10,5.5,16
6891,6892,2013,Misc,Majesco Entertainment,Zoe Mode,E,0.17,0.05,0.00,0.02,0.24,Zumba Fitness: World Party,73,5,6.2,40
6892,6893,2012,Misc,505 Games,Zoe Mode,E10+,0.00,0.05,0.00,0.00,0.05,Zumba Fitness Core,77,6,6.7,6
6893,6894,2012,Sports,505 Games,"Majesco Games, Majesco",E10+,0.00,0.16,0.00,0.02,0.18,Zumba Fitness Rush,73,7,6.2,5

In [57]:
video_game_cleaned = video_game_cleaned[['uniqueId','name', 'yearReleased', 'genre', 'publisher', 'developer', 'rating',
       'naSales', 'euSales', 'jpSales', 'otherSales', 'globalSales','criticScore', 'criticCount', 'userScore', 'userCount']]
video_game_cleaned

,uniqueId,name,yearReleased,genre,publisher,developer,rating,naSales,euSales,jpSales,otherSales,globalSales,criticScore,criticCount,userScore,userCount
0,1,.hack//Infection Part 1,2002,Role-Playing,Atari,CyberConnect2,T,0.49,0.38,0.26,0.13,1.27,75,35,8.5,60
1,2,.hack//Mutation Part 2,2002,Role-Playing,Atari,CyberConnect2,T,0.23,0.18,0.20,0.06,0.68,76,24,8.9,81
2,3,.hack//Outbreak Part 3,2002,Role-Playing,Atari,CyberConnect2,T,0.14,0.11,0.17,0.04,0.46,70,23,8.7,19
3,4,[Prototype],2009,Action,Activision,Radical Entertainment,M,0.84,0.35,0.00,0.12,1.31,78,83,7.8,356
4,5,[Prototype],2009,Action,Activision,Radical Entertainment,M,0.65,0.40,0.00,0.19,1.24,79,53,7.7,308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6889,6890,Zubo,2008,Misc,Electronic Arts,EA Bright Light,E10+,0.08,0.02,0.00,0.01,0.11,75,19,7.6,75
6890,6891,Zumba Fitness,2010,Sports,505 Games,"Pipeworks Software, Inc.",E,1.74,0.45,0.00,0.18,2.37,42,10,5.5,16
6891,6892,Zumba Fitness: World Party,2013,Misc,Majesco Entertainment,Zoe Mode,E,0.17,0.05,0.00,0.02,0.24,73,5,6.2,40
6892,6893,Zumba Fitness Core,2012,Misc,505 Games,Zoe Mode,E10+,0.00,0.05,0.00,0.00,0.05,77,6,6.7,6
6893,6894,Zumba Fitness Rush,2012,Sports,505 Games,"Majesco Games, Majesco",E10+,0.00,0.16,0.00,0.02,0.18,73,7,6.2,5

### Exporting Data to CSV

In [58]:
# Export the clean DataFrame as a CSV file
video_game_cleaned.to_csv('resources/video-game-cleaned.csv',encoding='utf8',index=False)

In [59]:
video_game_info_df.to_csv('resources/video-game-info.csv',encoding='utf8',index=False)

,uniqueId,name,yearReleased,genre,publisher,developer,rating
0,1,.hack//Infection Part 1,2002,Role-Playing,Atari,CyberConnect2,T
1,2,.hack//Mutation Part 2,2002,Role-Playing,Atari,CyberConnect2,T
2,3,.hack//Outbreak Part 3,2002,Role-Playing,Atari,CyberConnect2,T
3,4,[Prototype],2009,Action,Activision,Radical Entertainment,M
4,5,[Prototype],2009,Action,Activision,Radical Entertainment,M
...,...,...,...,...,...,...,...
6889,6890,Zubo,2008,Misc,Electronic Arts,EA Bright Light,E10+
6890,6891,Zumba Fitness,2010,Sports,505 Games,"Pipeworks Software, Inc.",E
6891,6892,Zumba Fitness: World Party,2013,Misc,Majesco Entertainment,Zoe Mode,E
6892,6893,Zumba Fitness Core,2012,Misc,505 Games,Zoe Mode,E10+
6893,6894,Zumba Fitness Rush,2012,Sports,505 Games,"Majesco Games, Majesco",E10+